@media screen and (max-width:1200px)  {
    .desktop-nav{
        display: none;
    }
    #nav-hamburger{
        display: flex;
    }

    .logo-amien1{
        width: 50px;
        height: 50px;
    }

}